<div class="row1">
	<div class="col-md-12">
		<p class="text-center"><strong class="steps">STEP 3 CALCULATE YOUR DAILY CALORIE INTAKE</strong></p>
	</div>
</div>
<div class="row5">
	<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-danger">
				<div class="panel-heading">Calorie Calculator</div>
				<table class="table table-striped table-bordered">					
				<tbody>
					<tr>
						<td>
							<label class="control-label">Body fat percentage</label>
						</td>
						<td>
							<form class="form-inline" role="form">						
							<input type="text" placeholder="Enter Body fat %" class="form-control" ng-model="calBfp">
							</form>
						</td>					
					</tr>
					<tr>
						<td>
							<label class="control-label">Weight</label>
						</td>
						<td>
							<form class="form-inline" role="form">
								<div class="form-group">
									<input type="text" placeholder="Enter Weight" class="form-control" ng-model="weightCal">
								</div>
							</form>
						</td>
					</tr>
					<tr>
						<td>
							<label class="control-label">Activity Level</label>
						</td>
						<td>
							<div class="dropdown">
	  							<select class="btn btn-default dropdown-toggle" ng-model="fitnessLevel">
		  							<option value="1.2">Low Intensity</option>
		  							<option value="1.375">Light Exercise</option>
		  							<option value="1.55">Moderate Exercise</option>
		  							<option value="1.725">Active Exercise</option>
		  							<option value="1.9">Extremely Active</option>
	  							</select>	  							
	  						</div>
						</td>
					</tr>
					<tr>
						<td>
							<button type="button" class="btn btn-primary" ng-click="calorieCalc(calBfp,weightCal,fitnessLevel)">BMI</button>
						</td>
						<td>
						{{calorieIntake}}
						</td>
					</tr>
				</tbody>			
				</table>			
			</div>
	</div>
	<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-danger">
				<div class="panel-heading">LOSE FAT :)</div>
				<table class="table table-striped table-bordered">					
				<tbody>
					<tr>
						<td>
							<label class="control-label">Reduce Calories</label>
						</td>
						<td>
							<div class="dropdown">
	  							<select class="btn btn-default dropdown-toggle" ng-model="diet">
		  							<option value=".05">5% Calorie Reduction</option>
		  							<option value=".1">10% Calorie Reduction</option>
		  							<option value=".15">15% Calorie Reduction</option>
		  							<option value=".20">20% Calorie Reduction</option>
		  							<option value=".25">25% Calorie Reduction</option>
	  							</select>	  							
	  						</div>
						</td>
					</tr>
					<tr>
						<td>
							<button type="button" class="btn btn-primary" ng-click="calReduction(diet)">BMI</button>
						</td>
						<td>
						{{reducedCalories}}
						</td>
					</tr>
				</tbody>			
				</table>			
			</div>
	</div>
</div>