<div class="row3">
	<div class="col-md-2">
		<p class="steps"><strong> LEARN ABOUT YOUR BODY IN THREE EASY STEPS </strong></p>
	</div>
	<div class="col-md-8">
		<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR3b1I89gupNT3NFA2UtDPeVdLLO_n3ELc2gEMux_HGDs2gcrJzAQ" class="img1">
	</div>	
</div>
<div class="row4">
	<div class="col-md-4"><p class="x">STEP 1</p></div>
	<div class="col-md-4"><p class="x">STEP 2</p></div>
	<div class="col-md-4"><p class="x">STEP 3</p></div>
</div>	
<div class="row7">
	<div class="col-md-4">
		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="bmiPage()">Your Body Mass Index</button>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				<button type="button" class="btn btn-success btn-lg btn-block" ng-click="bfpPage()">Your Body Fat Percentage</button>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-lg btn-block">Your Nutrition Facts</button>
			</div>
		</div>
	</div>
</div>	